.mainContainer {
    border-bottom: solid #d4d4d4 1px;
    padding: 10px 150px 10px 150px;
    display: flex;
    justify-content: center ;
    gap: 700px;
    align-items: center;
}
.mainContainer * {
    white-space: nowrap;
}
  
.homeLink {
    font-size: 30px;
}
  
.rightNav {
    font-size: 20px;
}
  
.rightNav a{
    margin: 10px;
}
  
.rightNav a:hover{
    text-shadow: 0.5px -0.5px black;
    margin: 10px;
}
