* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 박스 크기 계산 방식 설정 */
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.container-box {
  display: flex;
  justify-content: center;
  gap: 70px
}

.container-center {
  width: 770px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /* 부모 요소의 텍스트 색상 상속 */
  text-decoration: none; /* 기본 밑줄 제거 (선택 사항) */
}