.postBox {
    margin: 15px;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 10px;
    justify-content: space-between;
    margin-right: 10px;
    text-overflow: ellipsis;
}

.meta {
    color: #737373;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
  
.date {
    margin-right: 10px;
}

.title {
padding: 10px 0px 10px 0px;
overflow: hidden;
text-overflow: ellipsis;
}

@media (max-width: 479px) {
    .postBox {
        padding: 0px 0px 10px 0px;
    }
}