.postBox {
    margin: 15px;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 10px;
    justify-content: space-between;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.meta {
    color: #737373;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
  
.date {
    margin-right: 10px;
}

.category {}

.view {}


.title {
padding: 10px 0px 10px 0px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.admin-box {
    
}